
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.chat-list, .message-list {
  padding: 20px;
  overflow-y: auto;
}

.chat-list {
 flex-grow: 0.2;
  background-color: #f0f0f0;
}

.message-list {
  flex: 2;
  background-image: url("https://i.pinimg.com/736x/3d/8c/2f/3d8c2f2c82c1c9ef1e27be645cd1aa17.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive styles */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .chat-list, .message-list {
    flex: none;
    height: 50vh;
  }
}
